<h1>CREATE NEW RESTAURANT</h1>
<%= simple_form_for @restaurant do |f| %>
  <div>
    <%= f.input :name%>
    <%= f.input :address %>
    <%= f.input :phone_number%>
    <%= f.input :category %>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
