<h1><%= @restaurant.name %></h1>
<h2><%= @restaurant.category %></h2>
<h3><%= @restaurant.phone_number %></h3>
<p><%= @restaurant.address %></p>

<% @restaurant.reviews.each do |review| %>
          <li class="list-group-item">
            <small>
              <% count = 0 %>
              <% 5.times do %>
                <% if review.rating > count %>
                  <i class="fa-solid fa-star"></i>
                <% else %>
                  <i class="fa-regular fa-star"></i>
                <% end %>
                <% count += 1 %>
              <% end %>
            </small>
            <p><%= review.content %></p>
          </li>
        <% end %>
      </div>

      <%= simple_form_for [@restaurant, @review] do |f| %>
        <%= f.input :rating, collection: 0..5 %>
        <%= f.input :content%>
        <%= f.submit class: 'btn btn-primary' %>
      <% end %>

<%= link_to "Go back to all Restaurants", restaurants_path %>
<%# <%= link_to "Delete", review_path(id: @review.id), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %> %>
